<section ng-controller="ProjectsController" ng-init="read()">
  <div class="page-header">
    <h1 ng-bind="project.name"></h1>
  </div>
  <div class="pull-right" ng-show="project.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="project-edit({ projectId: project._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove(project)">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Created on
      <span ng-bind="project.created | date:'mediumDate'"></span>
      by
      <span ng-if="project.owner" ng-bind="project.owner.displayName"></span>
      <span ng-if="!project.owner">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="project.description"></p>
  
  <div class="board">
      <div class="t_list create-project-button" ng-repeat="list in project.lists">
        <h4 class="no-collide" ng-bind="list.name"></h4>
        <span ng-click="deleteList(list)" class="no-collide delete-list"><i class="fa fa-trash"></i></span>
        <div ng-click="editTask()" class="card card-block" ng-repeat="task in list.tasks">
          <h4 class="card-title" ng-bind="task.name"></h4>
          <p class="card-text" ng-bind="task.description | cut:true:50:'...'"></p>
        </div>
        
        <!--Add task button-->
        <div ng-if="!states.newTask[list._id]" ng-click="states.newTask[list._id] = true" class="card card-block plus-card">
          <h1 class="white-text i-wrapper">
            <i class="fa fa-plus-circle"></i>
          </h1>
        </div>
        <!--Add task form-->
        <div ng-if="states.newTask[list._id]">
          <form name="createTaskForm" class="form-horizontal" ng-submit="createTask(list);">
            <fieldset style="width: 250px;">
              <input type="text" name="name" placeholder="Task name" ng-model="newTask.name" />
            </fieldset>
          </form>
        </div>
      </div>
      
      <!--Add List button-->
      <div ng-if="!states.newList" ng-click="states.newList = true" class="create-project-button">
        <div class="t_list plus-card">
          <h1 class="white-text i-wrapper">
            <i class="fa fa-plus-circle"></i>
          </h1>
        </div>
      </div>
      <!--Add List form-->
      <div ng-if="states.newList" class="in-list">
        <form name="createListForm" class="form-horizontal" ng-submit="createList(createListForm.$valid);">
          <fieldset>
            <input type="text" name="name" placeholder="List name" ng-model="newList.name" />
          </fieldset>
        </form>
      </div>
  </div>

  
</section>


<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li ng-repeat="item in items">
        <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
      </li>
    </ul>
    Selected: <b>{{ selected.item }}</b>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>