.create-button {
  float: right;
  position: relative;
  top: 20px;
  right: 10px;
}

.top20 {
	margin-top: 20px;
}

textarea {
    resize: vertical;
}

.white-text {
  color: white;
}

.i-wrapper {
  margin-bottom: 15px;
}

.t_list {
  position: relative;
  width: 250px;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: grey;
  text-align: center;
}

.card {
  cursor: pointer;
}

.plus-card {
  text-align: center;
  background-color: #3C763D !important;
}

.plus-card:hover {
  background-color: #305C30 !important;
}

.board {
  overflow-x: auto;
  white-space: nowrap;
}

.card {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  white-space: normal;
}

.create-project-button {
  vertical-align: top;
  display: inline-block;
}

.create-project-button:hover {
  cursor: pointer; 
}

.in-list {
  margin-top: 5px;
  vertical-align: top;
  display: inline-block;
}

.no-collide {
  display: inline;
}

.delete-list {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
