.create-button {
  float: right;
  position: relative;
  top: 20px;
  right: 10px;
}

.top20 {
	margin-top: 20px;
}

textarea {
    resize: vertical;
}

.plus-card {
  text-align: center;
  background-color: #3C763D;
}

.plus-card:hover {
  background-color: #305C30 !important;
}

.white-text {
  color: white;
}

.i-wrapper {
  margin-bottom: 15px;
}